{% extends "base.html" %}

{% block content %}
<h1>Productos</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.nombre }}</td>
            <td>{{ product.descripcion }}</td>
            <td>{{ product.precio }}</td>
            <td><a href="{{ url_for('product_detail', product_id=product.id) }}">Detalles</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
